body{
    background-color:aquamarine;
    font-family: 'Times New Roman', Times, serif;

}
td{
    vertical-align: text-top;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:darkslategray;
}
div{
    color:white;
    height: 100%;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 10px;
    border: 1px solid #1A45D6;
    background-color: lightseagreen;
    border-radius: 15px;
    border: solid 2px #0DD1BC;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #13DC8D;
}